<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">Accounts</h2>
      <hr class="primary">
      <ul class="list-inline list-social">
        <li class="social-github">
          <a href="{{ site.github }}"><i class="fa fa-github"></i></a>
        </li>
        <li class="social-linkedin">
          <a href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="social-email">
          <a href="mailto:{{ site.email | encode_email }}"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
