<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My portfolio">
    <meta name="author" content="Richard Booth">
    <title>{{ site.portfolio_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/ac40f1a7ae.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top">
    {% include navbar.html %}

      <header>
        <div class="header-content">
          <div class="header-content-inner">
            <h1 id="homeHeading">{{ site.header_text }}</h1>
            <hr>
            <a href="#about" class="btn btn-sm page-scroll">{{ site.button_text }}</a>
          </div>
        </div>
      </header>

      <section id="about" class="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">About Me</h2>
              <hr class="light">
              <p class="text-faded">
                {% include about.markdown %}
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="job-history" class="job-history">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Job History</h2>
              <hr class="primary">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            {% for job in site.jobs reversed %}
              <div class="col-lg-4 text-center">
                <div class="service-box">
                  <div class="job-info">
                    <i class="fa fa-4x text-primary sr-icons fa-{{ job.icon }}"></i>
                    <h3>{{ job.duration }}</h3>
                    <p>{{ job.tagline }}</p>
                  </div>
                  <hr>
                  <p class="text-muted">{{ job.content }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      {% include social.html %}

      {% include footer.html %}

      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

      <!-- Theme JavaScript -->
      <script src="assets/js/main.js"></script>

      <!-- Moment.js -->
      <script src="vendor/moment/moment.js"></script>
  </body>
</html>
